/* Error: Missing math operator.
 *    ,
 * 10 |     width: calc(100% -80px / 2);
 *    |                 ^^^^^^^^^^^^^^
 *    '
 *   sass\layout\_grid.scss 10:17  @import
 *   sass\main.scss 14:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing math operator.\a    \2577 \a 10 \2502      width: calc(100% -80px / 2);\d\a    \2502                  ^^^^^^^^^^^^^^\a    \2575 \a   sass\\layout\\_grid.scss 10:17  @import\a   sass\\main.scss 14:9           root stylesheet";
}
