.section-about {
  margin-top: -20vh;
  padding-top: 20rem;
  background-color: $color-white-dark;
}
.section-about {
  padding-bottom: 20rem;
}
.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.795),
      rgba($color-primary-dark, 0.855)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  margin-top: -10rem;
  padding: 20rem 0;
  background-color: $color-white-light;
}

.stories-section {
  position: relative;
  padding: 15rem 0;
  overflow: hidden;
}

.section-book {
padding: 15rem 0;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
}

.book__form {
  height: 50rem;
  width: 100%;
  background-image: url(../../img/nat-10.jpg);

  
}
